.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.1px;
    padding: 1.5rem;
    justify-items: center;
}

.stats-box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 30rem;
}

.stats-box-icon {
    font-size: 30px;
    margin-bottom: 10px;
}

.stats-box-title {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
}

.stats-box-value {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin: 5px 0;
}

.stats-box-description {
    font-size: 14px;
    color: #666;
    margin-top: 10px;
}

.stats-page {
    display: flex;
    flex-direction: column;
    padding-bottom: 90rem;
  }

.weekly-completed-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto 3rem auto;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: fit-content;
}

.stats-weekly-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.stats-weekday {
    flex: 1 1 120px;               /* Responsive sizing with min width */
    margin: 0.3rem;                  /* Space between weekdays */
    padding: 15px;                 /* Inner spacing */
    border: 1px solid #ccc;        /* Light border */
    border-radius: 8px;            /* Rounded corners */
    background-color: #ffffff;     /* White background */
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);  /* Soft shadow */
    font-size: small;
    text-align: center;
    transition: transform 0.2s ease;
    width: 10rem;
    margin-top: 1rem;

    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
}

.completed-weekday {
    padding-bottom: 1rem;
}

.completed-week {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.week-change {
    cursor: pointer;
    font-size: large;
    margin-bottom: 0.5rem;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
}

.week-change:hover {
    background-color: rgb(232, 229, 229);
    border-radius: 6px;
    gap: 1rem;
}