.login-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 3rem auto;
    margin-top: 6rem;
    padding: 1rem;
    max-width: 25rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    padding: 1.2rem;
    height: 350px;
    width: 430px;
  }
  
  .login-heading {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.2rem;
    padding-top: 0.5rem;
    padding-left: 0.9rem;
    padding-bottom: 1rem;
  }
  
  .login-inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1.2rem;
  }
  
  .login-inputs input {
    padding: 0.6rem;
    margin-bottom: 0.6rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 65%;
    align-self: center;
  }
  
  .login-button {
    align-self: flex-end;
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
    background-color: #21987a;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transform: translateX(-1.5rem);
  }
  
  .login-button:hover {
    background-color: #176a55;
  }
  
  .register-link {
    margin-top: 1.5rem;
    align-self: center;
  }
  
  .register-link a {
    margin-top: 1rem;
    text-decoration: none;
    font-size: 0.9rem;
    color: #21987a;
  }
  
  .register-link a:hover {
    text-decoration: underline;
  }