.task p {
    display: block;
    /* background-color: black; */
    color: black;
    padding: 1rem;
}

.column h3 {
    display: block;
    /* justify-content: center; */
    text-align: center;
    margin-bottom: 2rem;
}

.column ul {
    list-style-type: none;
    padding-left: 0;
    /* border: 0.5px solid;
    border-radius: 3px; */
}

.column li {
    box-shadow: 2px 2px 11px rgba(0, 0, 0, 0.6);
}

.task.backlog {
    background-color: #e3d2d1;
}

.task.today {
    background-color: #e9b3b3;
}

.task.in-progress {
    background-color: #aedae6;
}

.task.done {
    background-color: #a6d4c5;
}